extends layout
body
  block content
    include navbar 
    .container
      .row
        .col-lg-3
          h1.my-4 ClassBit
          .row
            .col-lg-9
              ul.nav.nav-pills.nav-pills-info.flex-column
                li.nav-item
                  a.nav-link.active(href='#') Клас
                li.nav-item
                  a.nav-link(href='#') Предмет
                li.nav-item
                  a.nav-link(href='#') Вид подготовка
        .col-lg-9
          #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
            .carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.img-fluid(src='/photos/carousel01.jpg', alt='First slide')
              .carousel-item
                img.d-block.img-fluid(src='/photos/carousel02.jpg', alt='Second slide')
              .carousel-item
                img.d-block.img-fluid(src='/photos/carousel03.jpg', alt='Third slide')
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next
          .row
            for d in books
              .col-lg-4.col-md-6.mb-4
                .card.h-100
                  a(href=`/product?id=${d.id}`)
                    img.card-img-top(src=`/photos/${d.book.imageLink}`, alt='')
                  .card-body
                    h4.card-title
                      a(href='#') #{d.book.name}
                    h5 #{d.price} лв.
                    p.card-text
                      | #{d.description}
                  .card-footer
                    small.text-muted ★ ★ ★ ★ ☆
          br
          // Footer
          footer.py-5.bg-dark
            .container
              p.m-0.text-center.text-white © ClassBit
            // Core JavaScript Files
            script(src='js/jquery.min.js', type='text/javascript')
            script(src='js/popper.min.js', type='text/javascript')
            script(src='js/bootstrap-material-design.min.js', type='text/javascript')
            script(src='js/material-kit.min.js', type='text/javascript')
            //custom
            script(src='js/index/index.js', type='text/javascript')
